/* body, selector  - są tez rozne typy */
/* https://www.w3schools.com/cssref/css_selectors.asp */

body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    color: #ffffff;
    background-color: #0C2840;
}

h1 {
color: #A3BFBF;
font-weight: 600;
}

/* 
6. Sekcji footer dodaj klase .bottom i dodaj jej ramkę w kolorze #F2E6CE, ustaw jej padding na
10px z gory i dołu oraz 5px z prawej i lewej strony, */

.bottom {
    color: crimson;
    border-style: double;
    border-color:#F2E6CE ;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}
/* #main {
    background-color: brown !important;
} */



